@media (max-width: 1224px) {
  .sky-circle {
    right: 10px;
  }
}

@media (max-width: 1130px) {
  .orange-circle {
    left: 10px;
    &.contacts-orange-circle {
      left: auto;
    }
  }

}

@media (max-width: 1068px) {
  .wrapper {
    max-width: 802px;
  }

  .top-wrapper {
    &:after,
    &:before {
      display: none;
    }
  }

  .program-content__wrap {
    justify-content: flex-start;
  }

  .program-content__item {
    &:nth-child(4) {
      display: none;
    }
    &:nth-child(8) {
      padding-top: 6px;
      height: 330px;
      .program-item__img {
        height: 184px;
      }
    }
    &:nth-child(9) {
      height: 330px;
    }
    &:nth-child(10) {
      height: 330px;
    }
  }

  .consolidate-title__wrap {
    width: 100%;
    &:after {
      display: none;
    }
  }

  .services-content__left {
    max-width: none;
    padding-bottom: 0;
  }

  .services-content__right {
    padding: 30px 0 80px;
    margin: auto;
  }

  .howitwork-afters:before,
  .howitwork-afters:after,
  .howitwork-before,
  .howitwork-after {
    display: none;
  }

  .howitwork-segment {
    padding-right: 10px;
  }

  .howitwork-content__text {
    font-size: 16px;
  }

  .connections-section {
    background: #fff url(../img/map.png) no-repeat center 50px / contain;
  }

  .connection-logo2,
  .connection-logo3 {
    margin: 0 15px 15px 0;
  }

  .connection-logo4,
  .connection-logo5 {
    margin: 0 15px 15px 0;
  }

  .contacts-orange-circle {
    left: auto;
    right: -90px;
    top: 50px;
  }
}

@media (max-width: 1000px) {
  .contacts-orange-circle {
    display: none;
  }
}

@media (max-width: 820px) {
  .wrapper {
    max-width: 800px;
  }

  .sky-circle {
    width: 378px;
    height: 378px;
    font-size: 46px;
  }

  .program-content__wrap {
    justify-content: center;
    max-width: 534px;
    margin: auto;
  }

  .program-content__item {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(7) {
      padding-top: 6px;
      height: 330px;
      .program-item__img {
        height: 184px;
      }
    }
  }

  .howitwork-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .howitwork-segment {
    padding: 165px 10px 30px 0;
    margin: 0 0 0 117px;
    border-bottom: 1px solid #545760;
    &:before {
      left: -77px;
    }
  }

  .howitwork-bottom__right {
    border-bottom: none;
  }

  .howitwork-segment__bottom {
    padding-top: 30px;
  }

  .howitwork-top__left,
  .howitwork-top__right {
    width: auto;
    border-right: none;
  }


  .howitwork-top__leftcontent,
  .howitwork-bottom__left,
  .howitwork-top__rightcontent,
  .howitwork-bottom__right {
    align-self: auto;
    border-right: none;
      width: calc(100% - 117px);
    max-width: 536px;
  }

  .howitwork-content__text {
    font-size: 16px;
  }

  .howitwork-top__wrap {
    border-bottom: none;
    height: auto;
    .howitwork-segment {
      height: auto;
    }
  }

  .howitwork-segment__bottom:before {
    top: 8px;
  }

  .howitwork-bottom__wrap {
    height: auto;
    .howitwork-segment {
      height: auto;
    }
  }

  .howitwork-top__rightcontent {
    padding-top: 30px;
    &:before {
      top: 0;
    }
  }

  .howitworks-section {
    height: auto;
  }



  .connections-section {
    background: #fff url(../img/map.png) no-repeat center 50px/740px;
  }

  .program-title__wrap,
  .consolidate-title__overlay,
  .services-title__text,
  .services-content__left,
  .howitworks-title,
  .connections-title,
  .connections-content__left,
  .contact-subtitle,
  .contact-form__wrap {
    padding-left: 40px;
  }

  .footer-left {
    width: 50%;
  }
}

@media all and (max-width: 767px) {

  .desc.desc {
    display: none;
  }

  .mob.mob {
    display: block;
  }

  .top-video__cut {
    margin-left: -140px;
  }

  .top-section__video {
    transform: translateX(-10%);
  }

  .program-title__wrap {
    clip-path: none;
    width: 100%;
  }

  .logo-circle {
    width: 250px;
    height: 250px;
    right: auto;
    left: 50px;
  }

  .sky-circle {
    width: 288px;
    height: 288px;
    font-size: 36px;
    top: 230px;
  }

  .orange-circle {
    width: 240px;
    height: 240px;
  }

  .program-title__wrap,
  .consolidate-title__overlay,
  .services-title__text,
    //.services-title__wrap,
  .howitworks-title,
  .connections-title,
  .connections-content__left,
  .contact-form__wrap {
    padding-left: 26px;
    padding-right: 26px;
    font-size: 40px;
  }

  .parallax {
    width: 767px;
  }

  .contact-subtitle {
    padding-left: 26px;
    padding-right: 10px;
  }

  .services-content__left {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 20px;
  }

  .program-title,
  .consolidate-title {
    font-size: 38px;
  }

  .program-subtitle,
  .consolidate-subtitle {
    font-size: 20px;
  }

  .line-left {
    height: 115px;
  }

  .howitworks-line__left {
    height: 92px;
  }

  .flatrate-title__overlay {
    padding-top: 217px;
  }

  .consolidate-line__left {
    height: 92px;
  }

  .connections-line__left {
    height: 92px;
  }

  .connections-content-wrap {
    padding-bottom: 80px;
    padding-top: 160px;
  }

  .connections-content__right {
    padding-left: 10px;
  }

}

@media (max-width: 609px) {

  .connections-content__left {
    padding: 0 10px;
    margin: auto;
    text-align: center;

  }

  .connections-item__title {
    text-align: center;
  }

  .connection-logo1,
  .connection-logo2,
  .connection-logo3,
  .connection-logo4,
  .connection-logo5 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .connection-logo1 {
    margin-bottom: 30px;
  }


  .connections-item__images {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .connections-content__right {
    padding-right: 10px;
    padding-left: 10px;
    margin: 30px auto 0;
  }

  .contact-form__input,
  .contact-form__textarea {
    flex-direction: column;
    align-items: center;
    label {
      width: 100%;
      max-width: 400px;
      margin-bottom: 10px;
      margin-top: 0;
    }
  }

  .contact-form__input {
    input {
      width: 100%;
      max-width: 400px;
    }
  }

  .contact-form__textarea {
    textarea {
      width: 100%;
      max-width: 400px;
    }
  }

  .contact-form__btn {
    margin: auto;
    width: 100%;
    max-width: 400px;
  }

  .connections-content-wrap {
    flex-wrap: wrap;
    padding-top: 100px;
  }

  .connections-section {
    background: #fff url(../img/map_mob.png) no-repeat center 30px/520px;
  }

  .footer {
    padding: 20px 10px 36px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-left {
    text-align: center;
    border-right: none;
    height: auto;
    padding: 15px 10px;
    width: auto;
  }

  .footer-right {
    justify-content: center;
    span {
      margin: 31px 0 0 0;
    }
    img {
      margin-right: 0;
    }
  }

  div.wpcf7-response-output {
    font-size: 16px;
    left: 50%;
    top: calc(100% - 70px);
    margin: auto;
    transform: translateX(-50%);
  }
}

@media (max-width: 533px) {
  .program-content__item {
    height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative;
    border: none;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100vw;
      height: 1px;
      background: #d7dee6;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    &:nth-child(1),
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(6) {
      padding-top: 6px;
      height: 330px;
      .program-item__img {
        height: 184px;
      }
    }
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11) {
      height: auto;
    }

    &:nth-child(12) {
      padding-bottom: 110px;
    }
  }
}

@media all and (max-width: 479px) {
  .logo-circle {
    width: 197px;
    height: 197px;
    right: auto;
    left: 10px;
    top: -30px;
    img {
      width: 136px;
      height: 63px;
    }
  }

  .sky-circle {
    width: 299px;
    height: 299px;
    font-size: 35px;
    right: -20px;
    top: 248px;
  }

  .orange-circle {
    left: -10px;
    bottom: 50px;
    width: 171px;
    height: 171px;
    font-size: 26px;
  }

  .line-left__program {
    height: 104px;
  }

  .program-title__wrap {
    padding-top: 30px;
  }

  .program-title {
    max-width: 400px;
  }

  .connections-section {
    background: #fff url(../img/map_mob.png) no-repeat center 60px/ 400px;
  }
}

@media all and (max-width: 441px) {
  .program-title__wrap {
    padding-right: 14px;
  }

  .connection-logo3 {
    width: 100%;
  }

  .services-content__right {
    img {
      width: calc(100% - 20px);
      max-width: 100%;
      height: auto;
      margin: auto;
    }
  }
}

@media all and (max-width: 375px) {
  .connections-section {
    background: #fff url(../img/map_mob.png) no-repeat center 60px/ 380px;
  }
}