.wrapper {
  margin: auto;
  max-width: 1070px;
  position: relative;
}

.simpleParallax {
  position: absolute;
}

.parallax {
  position: relative;
  z-index: 1;
}

.top-wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 704px;
  &:after {
    content: '';
    height: 100%;
    width: 100vw;
    background: #d8dfe8;
    position: absolute;
    top: 0;
    left: calc(100% - 14px);
  }
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: calc(100% - 138px);
    top: 0;
    border-left: 124px solid transparent;
    border-bottom: 704px solid #d8dfe8;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

.posa {
  position: absolute;
}

#app {
  overflow: hidden;
  width: 100%;
}

.top-section {
  background-color: #d8dfe8;
}

.top-video__wrap {
  position: relative;
  width: 100%;
  margin: auto;
  background-color: #d8dfe8;
  max-width: 1070px;
}

.top-video__cut {
  width: 100%;
  display: block;
  margin: auto;
  position: fixed;
  top: 0;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(216,223,232,1) 0%,rgba(216,223,232,0) 25%,rgba(216,223,232,0) 100%);
  }
}

.top-section__video {
  display: block;
  width: auto;
  max-height: 704px;
}

.top-content__wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo-circle__overflow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 2;
}

.logo-circle {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161b27; /* Old browsers */
  background: -moz-linear-gradient(-61deg, #161b27 0%, #333847 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-61deg, #161b27 0%, #333847 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(119deg, #161b27 0%, #333847 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#161b27', endColorstr='#333847', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  opacity: .9;
  position: absolute;
  top: -70px;
  right: 187px;
  box-shadow: 0 0 50px 0 rgba(24, 24, 24, .6);
  img {
    width: 217px;
    height: 101px;
  }
}

.sky-circle {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 478px;
  height: 478px;
  border-radius: 50%;
  background: #51d1ee; /* Old browsers */
  background: -moz-linear-gradient(left, #51d1ee 0%, #4f9fff 50%, #5aaaff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #51d1ee 0%, #4f9fff 50%, #5aaaff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #51d1ee 0%, #4f9fff 50%, #5aaaff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51d1ee', endColorstr='#5aaaff', GradientType=1);
  opacity: .9;
  color: #fff;
  font-size: 58px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-align: center;
  position: absolute;
  right: -76px;
  top: 150px;
  line-height: 1.1;
}

.orange-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 253px;
  height: 253px;
  border-radius: 50%;
  opacity: .9;
  color: #fff;
  font-size: 38px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-align: center;
  position: absolute;
  background: #ff0060; /* Old browsers */
  background: -moz-linear-gradient(left, #ff0060 0%, #ff4000 62%, #ff9c00 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ff0060 0%, #ff4000 62%, #ff9c00 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ff0060 0%, #ff4000 62%, #ff9c00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0060', endColorstr='#ff9c00', GradientType=1); /* IE6-9 */
  bottom: 67px;
  left: -30px;
  line-height: 1.1;
  z-index: 2;
}

/* program section */

.program-section {
  position: relative;
  background: #fff;
}

.program-title__wrap {
  /* Style for "Rectangle" */
  width: 739px;
  height: 193px;
  background-color: #2a2d36;
  background-image: linear-gradient(-209deg, #2d313c 0%, #3d424e 100%);
  padding: 50px 68px 50px 70px;
  clip-path: polygon(0 0, 100% 0%, 75% 690px, 0% 100%);
  display: inline-block;
  position: relative;
  z-index: 2;
  &:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 193px solid #fff;
    border-left: 36px solid transparent;
  }
}

.line-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 131px;
  background: #ff4000;
}

.program-title {
  color: #ff4000;
  font-size: 48px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  text-transform: capitalize;
}

.program-subtitle {
  font-size: 28px;
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #fff;
  margin-top: 10px;
}

.program-content__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -193px;
  z-index: 1;
}

.program-content__item {
  width: 268px;
  height: 382px;
  border: 1px solid #d7dee6;
  margin-left: -1px;
  margin-top: -1px;
  padding-top: 60px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 16px;
  padding-right: 16px;
  &:nth-child(1+4n) {
    margin-left: 0;
  }
  &.item-top {
    height: 160px;
    margin-top: 0;
    border-top: none;
  }
  &.item-bottom {
    padding-top: 6px;
    height: 402px;
    .program-item__img {
      height: 184px;
    }
  }
}

.program-item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  img {
    width: 161px;
    height: 161px;
  }
}

.program-item__title {
  color: #4e95eb;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 10px;
}

.program-item__text {
  color: #525252;
  font-size: 18px;
  text-align: center;
  line-height: 1.3;
}

//consolidate-section

.consolidate-section {
  background: #fff;
  position: relative;
}

.consolidate-title__wrap {
  height: 352px;
  width: 936px;
  background: url("../img/banner-image1.jpg") no-repeat right top / cover;
  background-attachment: fixed;
  margin-top: -35px;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 874px 100%, 0% 100%);
  &:after {
    content: '';
    width: 114px;
    height: 170px;
    background: url("../img/boxes_icon.svg") no-repeat center top / 114px 170px;
    position: absolute;
    top: 132px;
    right: 141px;
  }
}

.consolidate-title__overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(14deg, #000c17 0%, rgba(0, 0, 0, 0) 100%);
  padding: 140px 70px 0;
  position: relative;
  z-index: 2;
}

.consolidate-title {
  color: #ffc300;
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
}

.consolidate-subtitle {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 28px;
  color: #fff;
  max-width: 570px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.consolidate-anno {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #becad5;
  max-width: 570px;
  line-height: 1.2;
}

.services-title__wrap {
  position: relative;
}

.consolidate-line__left {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 99px;
  background: #ff4000;
}

.services-title__text {
  color: #ff4000;
  font-size: 48px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  text-transform: capitalize;
  padding: 54px 0 0 70px;
}

.services-content__wrap {
  display: flex;
  flex-wrap: wrap;
}

.services-content__left {
  color: #53575c;
  font-size: 18px;
  line-height: 1.5;
  max-width: 620px;
  padding: 30px 0 70px 71px;
  p {
    &:first-child {
      margin-bottom: 20px;
    }
  }
}

.services-content__right {
  padding: 30px 0 0 60px;
  img {
    width: 344px;
    height: 167px;
    display: block;
  }
}

.howitworks-section {
  position: relative;
  background: #2d313c; /* Old browsers */
  background: -moz-linear-gradient(-60deg, #2d313c 0%, #3d424e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-60deg, #2d313c 0%, #3d424e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(120deg, #2d313c 0%, #3d424e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d313c', endColorstr='#3d424e', GradientType=1);
  height: 527px;
  counter-reset: section;
}

.howitwork-top__wrap {
  height: 327px;
  border-bottom: 1px solid #545760;
}

.howitwork-afters {
  position: relative;
  height: 100%;

  /* срез справа [ */
  &:after {
    content: '';
    height: 527px;
    position: absolute;
    left: calc(100% + 86px);
    width: 100vw;
    background: #fff;
    top: 0;
    z-index: 1;
  }
  &:before {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    right: -86px;
    border-left: 93px solid transparent;
    border-bottom: 527px solid #fff;
    z-index: 1;
  }
}

.howitwork-after {
  height: 327px;
  left: calc(100% + 86px);
  width: 100vw;
  background: #dce2ea;
  top: 0;
  z-index: 2;
}

.howitwork-before {
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: -86px;
  border-left: 58px solid transparent;
  border-bottom: 327px solid #dce2ea;
  z-index: 2;
}

/* ] срез справа  */

.howitwork-wrapper {
  display: flex;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.howitwork-top__left, .howitwork-bottom__left, .howitwork-top__right, .howitwork-bottom__right {
  width: 536px;
  border-right: 1px solid #545760;
  height: 100%;
  align-self: flex-end;
}

.howitwork-bottom__wrap {
  height: 200px;
}

.howitwork-wrapper__title {
  top: 0;
  left: 0;
}

.howitworks-line__left {
  height: 99px;
}

.howitworks-title {
  padding: 54px 68px 0 70px;
  color: #ff4000;
  font-size: 48px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  text-transform: capitalize;
}

.howitwork-content__title {
  color: #4e95eb;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.howitwork-content__text {
  color: #ccd4db;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.howitwork-segment {
  padding: 165px 36px 0 117px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 140px;
    left: 36px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
  }
}

.howitwork-segment1 {
  &:before {
    background: url("../img/1.svg") no-repeat center top / 62px 62px;
  }

}

.howitwork-segment2 {
  &:before {
    background: url("../img/2.svg") no-repeat center top / 62px 62px;
  }
}

.howitwork-segment3 {
  &:before {
    background: url("../img/3.svg") no-repeat center top / 62px 62px;
  }
}

.howitwork-segment4 {
  &:before {
    background: url("../img/4.svg") no-repeat center top / 62px 62px;
  }
}

.howitwork-segment__bottom {
  padding-top: 50px;
  height: 100%;
  &:before {
    top: 28px;
  }
  &:nth-child(4) {
    &:before {
      background: url("../img/4.svg") no-repeat center top / 62px 62px;

    }
  }
}

/* .connections-section */

.connections-section {
  position: relative;
  background: #fff url("../img/map.png") no-repeat center top;
}

.connections-line__left {
  height: 99px;
}

.connections-title {
  padding: 54px 68px 0 70px;
  color: #ff4000;
  font-size: 48px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  text-transform: capitalize;
}

.connections-content-wrap {
  padding: 200px 0 115px 0;
  display: flex;
}

.connections-content__left {
  padding-left: 70px;
  width: 438px;
}

.connections-content__right {
  padding-left: 50px;
  width: 440px;
}

.connections-item__title {
  color: #3f4348;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.connections-item__images {
  display: flex;
  flex-wrap: wrap;
}

.connection-logo1 {
  width: 119px;
  height: 36px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: block;
}

.connection-logo2 {
  width: 231px;
  height: 27px;
  display: block;
  margin-top: 8px;
}

.connection-logo3 {
  width: 326px;
  height: 40px;
  display: block;
}

.connection-logo4 {
  width: 150px;
  height: 44px;
  margin-right: 30px;
  display: block;
  margin-top: 10px;
}

.connection-logo5 {
  width: 188px;
  height: 55px;
  display: block;
  margin-top: -8px;
}

.flatrate-title__wrap {
  background: url("../img/banner-image2.jpg") no-repeat right top / cover;
  background-attachment: fixed;
  padding-bottom: 0;
  &:after {
    position: absolute;
    right: 370px;
    content: '';
    display: block;
    width: 122px;
    height: 129px;
    background: url("../img/flatrate-icon-pin.svg") no-repeat center top / 122px 129px;
    top: 166px;
  }
}

.flatrate-title__overlay {
  padding-top: 173px;
}

.flatrate-subtitle {
  max-width: 341px;

}

/*  contact-section  */

.contact-section {
  position: relative;
  background-color: #fff;
}

.contact-section__transparent {
  background-color: rgba(218, 227, 238, .4);
}

.contact-wrapper {
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 100vw;
    height: 100%;
    position: absolute;
    background: #fff;
    left: 874px;
    top: 0;
  }
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 748px;
    top: 0;
    border-left: 126px solid transparent;
    border-bottom: 710px solid #fff;
  }
}

.contacts-orange-circle {
  bottom: auto;
  left: auto;
  top: 190px;
  right: 90px;
  z-index: 1;
}

.contact-subtitle {
  color: #53575c;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 30px 0 0 70px;
  max-width: 571px;
}

.contact-form__wrap {
  padding: 40px 0 80px 70px;
}

.contact-form__input {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  label {
    width: 173px;
    color: #53575c;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  input {
    width: 400px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #dae3ee;
    background-color: #ffffff;
    color: #bbc2c9;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 14px 17px 17px 17px;
    &:focus {
      color: #53575c;
    }
  }
}

.contact-form__textarea {
  display: flex;
  margin-bottom: 30px;
  label {
    width: 173px;
    margin-top: 15px;
    color: #53575c;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  textarea {
    width: 400px;
    height: 183px;
    border-radius: 5px;
    border: 1px solid #dae3ee;
    background-color: #ffffff;
    color: #bbc2c9;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 14px 17px 17px 17px;
    resize: none;
    &:focus {
      color: #53575c;
    }
    &::placeholder {
      color: #bbc2c9;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    }
  }
}

.contact-form__btn {
  margin-left: 173px;
  width: 400px;
  height: 60px;
  box-shadow: 0 3px 30px rgba(0, 132, 239, 0.5), inset 0 -1px 2px #53a0ff;
  border-radius: 6px;
  background-color: #ffffff;
  background-image: linear-gradient(to right, #51d1ee 0%, #4f9fff 50%, #5aaaff 100%);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    box-shadow: 0 3px 15px rgba(0, 132, 239, 0.5), inset 0 -1px 1px #53a0ff;
  }
}

/*  footer  */

.footer {
  position: relative;
  background: #fff;
  padding: 58px 10px;
  color: #53575c;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.footer-wrapper {
  display: flex;
}

.footer-left {
  width: 472px;
  height: 80px;
  border-right: 1px solid #c7ced6;
  text-align: right;
  padding: 31px 27px;
}

.footer-right {
  width: 300px;
  display: flex;
  a {
    text-decoration: none;
    color: #53575c;
    display: flex;
  }
  span {
    margin: 31px 0 0 27px;
    display: block;
    max-width: 72px;
  }
  img {
    display: block;
    width: 126px;
    height: 43px;
    margin: 10px 6px 0;
  }
}